node_modules/
/scripts/data_miner/data/
/scripts/data_miner/config/last_processed_block.txt
venv/
.env
*.pyc
__pycache__/
_obsolete/
/backend/config/gcs/gcs-key.json
/backend/config/telegram/telegram-key.mjs
/backend/bot/telegram/subscribers.json
local_ledgers/
quarterly_ledgers/
/frontend/data/
/scripts/data_miner/config/txs_def.json
b.json
