.flow-banner-container {
    position: fixed;
    right: 0;
    top: 10%;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    gap: 2.5vh;
    pointer-events: none;
}
  
.flow-banner {
    background-color: rgb(255, 255, 255);
    border-radius: 1.142vw;
    box-shadow: -0.42vw 0.28vw 0.42vw rgba(0,0,0,0.1);
    padding: 1.71vw;
    width: 37vw;
    position: relative;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
    pointer-events: auto;
}

.flow-banner .close-button {
    position: absolute;
    top: 0.71vw;
    left: 0.71vw;
    cursor: pointer;
    font-size: 1.28vw;
    color: #888;
}

.flow-banner a {
    color: #3888ff;
    text-decoration: none;
}

.flow-banner a:hover {
    text-decoration: underline;
}

.flow-banner.show {
    transform: translateX(0);
}

@keyframes shake {
    0% { transform: translateX(0); }
    10%, 90% { transform: translateX(-0.14vw) translateY(-0.14vw); }
    20%, 80% { transform: translateX(0.14vw) translateY(0.14vw);}
    30%, 50%, 70% { transform: translateX(-0.14vw) translateY(-0.14vw); }
    40%, 60% { transform: translateX(0.14vw) translateY(0.14vw); }
    100% { transform: translateX(0); }
}

.flow-banner.shake {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
}

@media (max-width: 768px) {
    .flow-banner {
        padding: 3vh;
        width: 60vw;
        border-radius: 2.2vw;
    }
    .flow-banner .close-button {
        top: 5%;
        left: 3%;
        font-size: 40px;
    }
}